body {
    background-color: #0F0F0F;
    color: white;
    font-family: 'Source Code Pro', monospace;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    background-color: #272727;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: medium;
}

input:focus {
    background-color: #5a5858;
    border: none;
}

button {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    border: none;
    background-color: #272727;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

button:hover {
    background-color: #5a5858;
}

.rock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.rockimg {
    width: 30%;
    height: auto;
}

.rock img:hover {
    width: 31%;
    height: auto;
    transform: rotate(5deg)
}

