:root {
    --color-bg: #0F0F0F;
    --color-fg: white;
    --color-btn: #272727;
    --color-btn-hover: #5a5858;
    --color-input: #272727;
    --color-input-focus: #5a5858;
    --textlog-bg: rgba(0, 0, 0, 0.7);
}

[data-theme="white"] {
    --color-bg: white;
    --color-fg: black;
    --color-btn: #f0f0f0;
    --color-btn-hover: #d0d0d0;
    --color-input: #f0f0f0;
    --color-input-focus: #d0d0d0;
    --textlog-bg: rgba(255, 255, 255, 0.7);
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: 'Source Code Pro', monospace;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    background-color: var(--color-input);
    color: var(--color-fg);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: medium;
}

input:focus {
    background-color: var(--color-input-focus);
    border: none;
}

button {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    border: none;
    background-color: var(--color-btn);
    color: var(--color-fg);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

button:hover {
    background-color: var(--color-btn-hover);
}

.rock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.rockimg {
    width: 30%;
    height: auto;
}

.controls {
    display: flex;
    /* show it in a rectangle like controls */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--textlog-bg);
    color: var(--color-fg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999;
}

#textLog {
    font-size: 25px;
    color: var(--color-fg); 
    text-shadow: 2px 2px 4px var(--textlog-bg); 
    background-color: var(--textlog-bg);
    padding: 10px; 
    border-radius: 10px;
    text-align: center; 
    z-index: 1000;
}